# Editor stuff
.idea/
.vscode/

# Environments
venv/


# Test folders and files
buildtest/
uploads/
data/
*.npy

# Python cache stuff
__pycache__/


# Jupyter Notebook
.ipynb_checkpoints

# Python module build files
dist/
build/
*.egg-info/


# compressed files
*.zip
*.tar.gz
data
*.tgz
datasets/

*.exe