# Editor stuff
.idea/
.vscode/

# Environments
venv/


# Test folders and files
buildtest/
uploads/
data/
*.npy

# Python cache stuff
__pycache__/


# Jupyter Notebook
.ipynb_checkpoints

# Python module build files
build/
*.egg-info/