flask>=1.1
bjoern
httplib2
python-dateutil
requests==2.20.0
redis
hiredis
gevent
sentry-sdk[flask]

# requirements added by me
#torch==1.7.1+cu101
#torchvision==0.8.2+cu101
redisai
pymongo
gunicorn
#kubeml==0.1.3